.upcards-card-title-link {
  color: inherit;
  text-decoration: inherit;
}

.upcards-grid-item {
  margin-bottom: 1.0rem;
  width: 19rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.upcards-tag-board {
  max-width: 76rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.upcards-list-board {
  max-width: 76rem;
}

.upcards-slide-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.upcards-single-heading {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.upcards-single-content {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: justify;
}

.upcards-single-board {
  max-width: 40rem;
}

.upcards-tag-button {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.upcards-loading-slides {
  text-align: center;
  color: white;
}

img.upcards-displayed-image {
  max-width: calc(100vw - 4rem);
  max-height: 70vh;
}

div.upcards-time-section {
  color: #aaaaaa;
  margin-bottom: 0.5rem;
}

div.upcards-summary-section-justified {
  font-size: 0.925em;
  text-align: justify;
}

div.upcards-summary-section-flushleft {
  font-size: 0.875em;
}

p.upcards-time {
  margin-top: 0;
  margin-bottom: 0;
}

span.upcards-page-count-subscript {
  color: #888888;
  font-size: 0.6em;
}

body.upcards-body {
  min-height: 100vh;
  text-spacing-trim: trim-start; /* TODO: change this to `trim-all` in the future */
  text-autospace: ideograph-alpha;
}

h1 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

h1.upcards-list-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h1.upcards-slide-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h1.upcards-single-board-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

ul.navbar-nav > li {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

ul.dropdown-menu > li {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

li {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.upcards-code-block {
  margin-bottom: 1rem;
  background-color: #eeeeee;
  padding: 0.5rem;
}

.upcards-code-block code {
  background-color: transparent;
  padding: 0px;
}

.upcards-console-block {
  margin-bottom: 1rem;
  background-color: #444444;
  color: #eeeeee;
  padding: 0.5rem;
}

.upcards-console-block code {
  background-color: transparent;
  padding: 0px;
}

/*| Cancels the bottom margin of a paragraph
  | if a display math formula follows the paragraph. */
p:has(+ .upcards-math-block) {
  margin-bottom: 0px;
}

.upcards-math-block {
  overflow-x: auto;
}

.upcards-code-block-filename-panel {
  background-color: #dddddd;
  padding-left: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
/*  border-bottom: solid 4px #cccccc; */
  margin-bottom: 0px;
}

.upcards-code-block-filename-panel code {
  background-color: transparent;
  padding: 0px;
}

pre {
  margin-bottom: 0rem;
}

code {
  font-size: 0.875em;
  color: #222222;
  background-color: #eeeeee;
  border-radius: 3px;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

blockquote {
  color: #888888;
  padding-left: 1rem;
  border-left: 0.5rem solid #eeeeee;
}

.chroma code {
  background-color: inherit;
  border-radius: 0px;
  padding: 0rem;
}

div.footnotes {
  margin-top: 5rem;
  font-size: 0.875em;
}

/* For wide displays */
@media screen and (min-width: 1250px) {
  .upcards-toc {
    position: fixed;
    right: 2rem;
    max-width: 16rem;
    border-left: 0.5rem solid #eeeeee;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.875em;
    text-align: start;
  }
}


/* For other media */
@media not screen and (min-width: 1250px) {
  .upcards-toc {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-left: 0.5rem solid #eeeeee;
    padding-left: 1rem;
    font-size: 0.875em;
    text-align: start;
  }
}

.upcards-toc li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.upcards-toc a {
  color: #888888;
  text-decoration: none;
}

.upcards-toc a:hover {
  color: #88AAFF;
  text-decoration: underline;
}

.upcards-ogp-link-card {
  position: relative;
  display: grid;
  width: 100%;
  height: 122px;
  grid-template-rows: 1fr 1fr 3fr;
  grid-template-columns: 120px 1fr;
  background: #f8f8f8;
  border-radius: 10px 10px 10px 10px;
  border: solid 1px #dddddd;
  margin-bottom: 1em;
  text-align: start;
}

.upcards-ogp-link-card-left {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  border-radius: 10px 0 0 10px;
}

.upcards-ogp-link-card-title {
  grid-row: 1;
  grid-column: 2;
  margin-top: 0.8em;
  margin-left: 1em;
  color: #666666;
}

.upcards-ogp-link-card-url {
  grid-row: 2;
  grid-column: 2;
  color: #aaaaaa;
  margin-left: 1.3em;
  font-size: 0.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.upcards-ogp-link-card-description {
  grid-row: 3;
  grid-column: 2;
  margin: 0.3em;
  margin-left: 1.3em;
  font-size: 0.8em;
  color: #666666;
  overflow: hidden;
}

.upcards-ogp-link-card a {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.upcards-ogp-link-card img {
  max-width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 10px 0 0 10px;
}

.upcards-github-repo-card svg a {
/* For disabling underlines on GitHub repository cards:
  text-decoration: none;
*/
}
