.upcards-card-title-link {
  color: inherit;
  text-decoration: inherit;
}

.upcards-grid-item {
  margin-bottom: 1.0rem;
  width: 19rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.upcards-grid-board {
  margin-left: auto;
  margin-right: auto;
}

.upcards-tag-board {
  margin-left: auto;
  margin-right: auto;
  max-width: 76rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.upcards-list-board {
  margin-left: auto;
  margin-right: auto;
  max-width: 76rem;
}

.upcards-slide-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.upcards-single-heading {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.upcards-single-content {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.upcards-single-board {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

.upcards-tag-button {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.upcards-loading-slides {
  text-align: center;
  color: white;
}

img.upcards-displayed-image {
  max-width: calc(100vw - 4rem);
  max-height: 70vh;
}

div.upcards-time-section {
  color: #AAAAAA;
  margin-bottom: 0.5rem;
}

p.upcards-time {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

h1.upcards-list-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h1.upcards-slide-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h1.upcards-single-board-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
}

ul.navbar-nav > li {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

ul.dropdown-menu > li {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

li {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
