.upcards-card-title-link {
  color: inherit;
  text-decoration: inherit;
}

.upcards-grid-item {
  margin-bottom: 1.0rem;
  width: 19rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.upcards-tag-board {
  max-width: 76rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.upcards-list-board {
  max-width: 76rem;
}

.upcards-slide-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.upcards-single-heading {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.upcards-single-content {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.upcards-single-board {
  max-width: 40rem;
}

.upcards-tag-button {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.upcards-loading-slides {
  text-align: center;
  color: white;
}

img.upcards-displayed-image {
  max-width: calc(100vw - 4rem);
  max-height: 70vh;
}

div.upcards-time-section {
  color: #AAAAAA;
  margin-bottom: 0.5rem;
}

p.upcards-time {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

h1.upcards-list-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h1.upcards-slide-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h1.upcards-single-board-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
}

h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

ul.navbar-nav > li {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

ul.dropdown-menu > li {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

li {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.upcards-code-block {
  margin-bottom: 1rem;
  background-color: #eeeeee;
  padding: 0.5rem;
}

.upcards-math-block {
  overflow-x: auto;
}

pre {
  margin-bottom: 0rem;
}

code {
  font-size: 0.875em;
  color: #222222;
  background-color: #eeeeee;
  border-radius: 3px;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

blockquote {
  color: #888888;
  padding-left: 1rem;
  border-left: 0.5rem solid #eeeeee;
}

.chroma code {
  background-color: inherit;
  border-radius: 0px;
  padding: 0rem;
}

div.footnotes {
  margin-top: 5rem;
  font-size: 0.875em;
}

/* For wide displays */
@media screen and (min-width: 1250px) {
  .upcards-toc {
    position: fixed;
    right: 2rem;
    max-width: 16rem;
    border-left: 0.5rem solid #eeeeee;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.875em;
  }
}


/* For other media */
@media not screen and (min-width: 1250px) {
  .upcards-toc {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-left: 0.5rem solid #eeeeee;
    padding-left: 1rem;
    font-size: 0.875em;
  }
}

.upcards-toc li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.upcards-toc a {
  color: #888888;
  text-decoration: none;
}

.upcards-toc a:hover {
  color: #88AAFF;
  text-decoration: underline;
}
